.mainWrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1 ;
    overflow-y: auto;
    position: relative;
}
header, footer {
    padding:10px 20px;
}
header{
    background-color: lightcoral;

}