.bacground-img{
    background-color: #fffec6;
    display: flex;
    justify-content: center;
}
header{
    background-color: #122538;
}
.header-topline{
    display: flex;
    justify-content: flex-start;
}
.phone-btn{
    width: 110px;
    height: 14px;
    background-color: transparent;
    border:none;
    padding: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #fff;
    cursor: pointer
}
.arrow-icon{
   max-width: 10px;
    transform: rotate(90deg);

}
.header-phones{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
li{
    padding-left: 15px;
    list-style-type: none;
}
.white-link{
    color: white;
}
a{
    font-size: 13px;
    text-decoration: none;

}
a:hover { text-decoration:underline ;color: white; }

.header-topline-list{
    padding-top: 10px;
    justify-content: center;
}
.languages{
    color: white;
    margin-left: 400px;

}
.main-info-box{
    display: flex;
    justify-content: center;

}
.vertical-line{
    font-size: 13px;
}
.m-left{
    margin-left: 4px;
}
.pd-10px{
    padding-left: 10px;
}
.pd-l{
    padding-left: 30px;

}
.pd-22px{
    padding-left: 22px;
    padding-right: 22px;
    font-size: 13px;
}
.ml-30{
    margin-left: 30px;
}
.header-bottom-line{
    padding-bottom:15px;
}
.menu-toggler {
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, 0);
    font-weight: 700;
    color: #fff;
}
.menu-toggler:hover{
    background-color:#1d3853;

}

.search-input{
width: 385px;
    height: 44px;
}
.find-btn{
    min-width: 52px;
    background-color: #00a046;
    color: #fff;
    margin: 0;
    border-radius: 0 3px 3px 0;
    min-height: 41px;
}
.find-btn:hover{
    background-color: #12cd64;
}
.ml-160{
    margin-left: 160px;
}
input{
    border-radius: 3px;
}
.search-box{
    display: flex;
    align-items: center;
}
.main-side-barr-shifts{
    align-items: center;
}
.item-main-products{
    border:1px solid #eaeaea;
}
.title-picture{
    box-sizing: border-box;
    margin: 0 0 16px;
}

.item-main-products{
width: 20%;
    position: relative;

}
.main-items-box{
    padding: 30px;
    margin-top: 10px;

}
.heart-btn{
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    position: absolute;
    right:8px;
    margin-left: 100px;
}
.heart-btn :hover{
    background-color: #b7d5e6;
}
.item-main-products :hover{
    color: red;
}
.title-picture-description{
    font-size: 15px;
    margin-top: 10px;
    color: black;
}
.title-picture-box{
    margin-top: 10px;
}
.title-old-price{
    text-decoration: line-through;

}
.title-old-price:hover{
    color: black;
}
.link-picture-box{
  margin-bottom: 30px;
}
.old-price:hover{
    color: #333333;
}
.old-price{
    text-decoration: line-through;
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 13px;
}
.curency-old-price{
    margin-left: 5px;
    font-size: 17px;
}
.mr-30{
    margin-right: 30px;
}
.curent-price{
    color: red;
    font-size: 21px;
    font-weight: bold;
    margin-left: 10px;
}
